NORMAL    = #A8A878;
FIGHTING  = #C03028;
FLYING    = #A890F0;
POISON    = #A040A0;
GROUND    = #E0C068;
ROCK      = #B8A038;
BUG       = #A8B820;
GHOST     = #705898;
STEEL     = #B8B8D0;
FIRE      = #F08030;
WATER     = #6890F0;
GRASS     = #78C850;
ELECTRIC  = #F8D030;
PSYCHIC   = #F85888;
ICE       = #98D8D8;
DRAGON    = #7038F8;
DARK      = #705848;
FAIRY     = #EE99AC;