#connect-view
  width 100vw;
  height 100vh;
  background-image url('../img/bgs/arceus-bg.jpg');
  background-repeat no-repeat;
  background-position center;
  background-size auto 100%;
  .content-box
    width 530px;
    height 320px;
    margin 0 auto;
    background-color #504F4D;
    position relative;
    top 50%;
    transform translateY(-50%);
    .text
      position relative;
      top 50%;
      transform translateY(-50%);
      color white;
      text-align center;
      font-size 28px;
      font-weight 100;
      div
        margin-bottom 10px;