//.ui.modal.settings
//  width 300px;
//  margin 0 0 0 -150px;
//  padding-bottom 20px;
//  .checkbox
//    float left;
//  .checkbox:not(:last-child)
//    clear both;
//    display block;
//    margin-bottom: 20px;
//  label
//    display block;
//    float right;
//  .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before
//    background-color #333 !important;
//  .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before
//    background-color rgba(0, 0, 0, 0.05) !important;
//  .button
//    float right;
//    clear both;
.ui.modal.settings
  width 400px;
  margin 0 0 0 -200px;
  text-align right;
  .checkbox-container
    clear both;
    height 40px;
    line-height 40px;
  label
    float right;
  .checkbox
    float left;
    display block;
  .checkbox:not(:last-child)
    margin-bottom 10px;
  .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before
    background-color #2ECC71 !important;
  .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before
    background-color rgba(0, 0, 0, 0.05) !important;
  .button
    margin-top 10px;