#spreadsheet-view
  margin-top 54px;
  #spreadsheet
    margin-bottom 16px;
    border-radius 0 !important;
    border none !important;
    .name
      text-transform capitalize;
      color white;
    .stat
      text-align center;
    .selectable
      cursor pointer;
    .move
      text-transform capitalize;