body {
    background-color: #c0392b;
    font-family: 'Lato', sans-serif;
}

#title {
    color: white;
    margin-top: 16px;
}

#pokemonList {
    max-width: 800px;
    margin: 0 auto;
}

.name {
    text-transform: capitalize;
}

.stat {
    text-align: center !important;
}

.Normal {
    color: white;
    background-color: #A8A878 !important;
}

.Fire {
    color: white;
    background-color: #F08030 !important;
}

.Water {
    color: white;
    background-color: #6890F0 !important;
}

.Grass {
    color: white;
    background-color: #78C850 !important;
}

.Poison {
    color: white;
    background-color: #A040A0 !important;
}

.Electric {
    color: white;
    background-color: #F8D030 !important;
}

.Ground {
    color: white;
    background-color: #E0C068 !important;
}

.Psychic {
    color: white;
    background-color: #F85888 !important;
}

.Rock {
    color: white;
    background-color: #B8A038 !important;
}

.Ice {
    color: white;
    background-color: #98D8D8 !important;
}

.Bug {
    color: white;
    background-color: #A8B820 !important;
}

.Dragon {
    color: white;
    background-color: #7038F8 !important;
}

.Ghost {
    color: white;
    background-color: #705898 !important;
}

.Steel {
    color: white;
    background-color: #B8B8D0 !important;
}

.Fairy {
    color: white;
    background-color: #EE99AC !important;
}

.Dark {
    color: white;
    background-color: #705848 !important;
}

.Flying {
    color: white;
    background-color: #A890F0 !important;
}

.Fighting {
    color: white;
    background-color: #C02038 !important;
}