#nav-menu.ui.menu.inverted(ng-show="display()")
    .ui.container
        .header.item Optimizer
        .item(ui-sref="dashboard") Dashboard
        .item(ui-sref="spreadsheet") Spreadsheet
        .right.menu(ng-click="logout()")
            .item Paperquake
            .item
                i.fa.fa-unlock-alt