#nav-menu.ui.menu.inverted.fixed(ng-show="display()")
    .ui.container
        .header.item Optimizer
        //.item(ui-sref="dashboard") Dashboard
        .item(ui-sref="spreadsheet") Spreadsheet
        .item(ui-sref="evolution") Evolution
        .right.menu
            .header.item(ng-bind="$root.player.data.username")
            .header.item {{$root.inventory.pokemon.length}}/{{$root.player.data.max_pokemon_storage}}
            .item(ng-click="logout()")
                i.icon.unlock.alternate
                span Logout
