#spreadsheet-view
    .ui.container
        //.buttons
            button.ui.icon.button.black
                i.fa.fa-trash
            button.ui.icon.button.black
                i.fa.fa-cog
        .ui.search
            input(class="prompt" placeholder="Search" ng-model="search")
        table#spreadsheet.ui.celled.table.inverted(class="{{moveColorClass() + ' ' + ivColorClass()}}")
            thead
                tr
                    th.selectable(ng-click="setSort('metadata.id')") Pokemon
                    th.move.selectable(ng-click="setSort('data.move_1')") Fast
                    th.move.selectable(ng-click="setSort('data.move_2')") Special
                    th.selectable.stat(ng-click="setSort('metadata.level')") Level
                    th.selectable.stat(ng-click="setSort('data.cp')") CP
                    th.selectable.stat(ng-click="setSort('data.stamina_max')") HP
                    th.stat.atk ATK
                    th.stat.def DEF
                    th.stat.sta STA
                    th.selectable.stat(ng-click="setSort('metadata.piv')") IV%
                    th.selectable.stat(ng-click="setSort('metadata.pcp')") CP%
            tbody
                tr(ng-repeat="pokemon in $root.inventory.pokemon | orderBy: getSort() | filter: getFilter()")
                    td.selectable(ng-click="openModal(pokemon)" ng-class="favoriteClass(pokemon)")
                        h4.ui.image.header
                            img.ui.mini.rounded.image(src="{{'assets/img/icons/' + pokemon.metadata.id + '.png'}}")
                            .content.name {{pokemon.data.nickname || pokemon.data.pokemon_id.toLowerCase() || ''}}
                    td.move(ng-bind="formatMoveName(pokemon.data.move_1)" class="{{pokemon.metadata.move_1.Type}}")
                    td.move(ng-bind="formatMoveName(pokemon.data.move_2)" class="{{pokemon.metadata.move_2.Type}}")
                    td.stat(ng-bind="pokemon.metadata.level")
                    td.stat(ng-bind="pokemon.data.cp")
                    td.stat(ng-bind="pokemon.data.stamina_max")
                    td.stat.atk(ng-bind="pokemon.data.individual_attack")
                    td.stat.def(ng-bind="pokemon.data.individual_defense")
                    td.stat.sta(ng-bind="pokemon.data.individual_stamina")
                    td.stat
                        img(src="assets/img/icons/star.png" ng-show="pokemon.metadata.piv > .99")
                        span(ng-bind="formatPercentage(pokemon.metadata.piv)" ng-show="pokemon.metadata.piv < .99")
                    td.stat
                        img(src="assets/img/icons/star.png" ng-show="pokemon.metadata.piv > .99")
                        span(ng-bind="formatPercentage(pokemon.metadata.pcp)" ng-show="pokemon.metadata.piv < .99")
    #pokemon-modal.ui.basic.modal
        .content
            img(src="assets/img/sprites/{{selected.metadata.id}}.png")
            .info
                label Height:
                span {{formatMetric(selected.data.height_m)}}
            .info
                label Weight:
                span {{formatMetric(selected.data.weight_kg)}}