#spreadsheet-view
    .ui.container
        .buttons
            button.ui.icon.button.black(ng-click="openSettingsModal()")
                i.icon.settings
        .ui.search
            input(class="prompt" placeholder="Search" ng-model="search")
        select.ui.fluid.dropdown(name='skills', multiple='' ng-model="sort" ng-change="sortChange()")
            option(value='') Sort
            option(value='+metadata.id') Number (Asc)
            option(value='-metadata.id') Number (Dsc)
            option(value='+data.pokemon_id') Name (Asc)
            option(value='-data.pokemon_id') Name (Dsc)
            option(value='+metadata.piv') IV% (Asc)
            option(value='-metadata.piv') IV% (Dsc)
            option(value='+metadata.pcp') CP% (Asc)
            option(value='-metadata.pcp') CP% (Dsc)
            option(value='+metadata.level') Level (Asc)
            option(value='-metadata.level') Level (Dsc)
            option(value='+data.cp') CP (Asc)
            option(value='-data.cp') CP (Dsc)
            option(value='+data.stamina_max') HP (Asc)
            option(value='-data.stamina_max') HP (Dsc)
            option(value='+data.creation_time_ms') Recent (Asc)
            option(value='-data.creation_time_ms') Recent (Dsc)
        table#spreadsheet.ui.celled.table.inverted(class="{{moveColorClass() + ' ' + ivColorClass()}}")
            thead
                tr
                    th Pokemon
                    th.move(ng-show="isVisible('move_1')")
                        span Fast
                        span.dps(ng-show="isVisible('move_dps')") [DPS]
                    th.stat(ng-show="isVisible('move_1') && isVisible('move_energy')") Energy
                    th.move(ng-show="isVisible('move_2')")
                        span Special
                        span.dps(ng-show="isVisible('move_dps')") [DPS]
                    th.stat(ng-show="isVisible('move_2') && isVisible('move_energy')") Energy
                    th.stat(ng-show="isVisible('level')") Level
                    th.stat(ng-show="isVisible('cp')") CP
                    th.stat(ng-show="isVisible('hp')") HP
                    th.stat.atk(ng-show="isVisible('atk')") ATK
                    th.stat.def(ng-show="isVisible('def')") DEF
                    th.stat.sta(ng-show="isVisible('sta')") STA
                    th.stat(ng-show="isVisible('piv')") IV%
                    th.stat(ng-show="isVisible('pcp')") CP%
            tbody
                tr(ng-repeat="pokemon in $root.inventory.pokemon | orderBy: getSortArray() | filter: getSearchFilter()")
                    td.selectable(ng-class="favoriteClass(pokemon)" ng-click="openPokemonModal(pokemon)")
                        h4.ui.image.header
                            img.ui.mini.rounded.image(ng-src="{{'assets/img/icons/' + pokemon.metadata.id + '.png'}}")
                            .content.name {{pokemon.data.nickname || pokemon.data.pokemon_id.toLowerCase() || ''}}
                    td.move(class="{{pokemon.metadata.move_1.Type}}" ng-show="isVisible('move_1')")
                        span {{formatMoveName(pokemon.data.move_1)}}
                        span.dps(ng-show="isVisible('move_dps')") [{{getMoveDPS(pokemon.metadata.move_1)}}]
                    td.stat(ng-bind="pokemon.metadata.move_1.EnergyDelta" ng-show="isVisible('move_1') && isVisible('move_energy')")
                    td.move(class="{{pokemon.metadata.move_2.Type}}" ng-show="isVisible('move_2')")
                        span {{formatMoveName(pokemon.data.move_2)}}
                        span.dps(ng-show="isVisible('move_dps')") [{{getMoveDPS(pokemon.metadata.move_2)}}]
                    td.stat(ng-bind="pokemon.metadata.move_2.EnergyDelta" ng-show="isVisible('move_2') && isVisible('move_energy')")
                    td.stat(ng-bind="pokemon.metadata.level" ng-show="isVisible('level')")
                    td.stat(ng-bind="pokemon.data.cp" ng-show="isVisible('cp')")
                    td.stat(ng-bind="pokemon.data.stamina_max" ng-show="isVisible('hp')")
                    td.stat.atk(ng-bind="pokemon.data.individual_attack" ng-show="isVisible('atk')")
                    td.stat.def(ng-bind="pokemon.data.individual_defense" ng-show="isVisible('def')")
                    td.stat.sta(ng-bind="pokemon.data.individual_stamina" ng-show="isVisible('sta')")
                    td.stat(ng-show="isVisible('piv')")
                        img(src="assets/img/icons/star.png" ng-show="pokemon.metadata.piv > .99")
                        span(ng-bind="formatPercentage(pokemon.metadata.piv)" ng-show="pokemon.metadata.piv < .99")
                    td.stat(ng-show="isVisible('pcp')")
                        img(src="assets/img/icons/star.png" ng-show="pokemon.metadata.piv > .99")
                        span(ng-bind="formatPercentage(pokemon.metadata.pcp)" ng-show="pokemon.metadata.piv < .99")
    #pokemon-modal.ui.basic.modal
        .content
            img(ng-src="assets/img/sprites/{{selected.metadata.id}}.png")
            .info
                label Height:
                span {{formatMetric(selected.data.height_m)}}
            .info
                label Weight:
                span {{formatMetric(selected.data.weight_kg)}}
    #spreadsheet-settings-modal.ui.modal.settings
        .header Settings
        .content
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.color.move" ng-change="updateSettings()")
                    label
                label Enable Move Colors
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.color.iv" ng-change="updateSettings()")
                    label
                label Enable IV Colors
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.move_1" ng-change="updateSettings()")
                    label
                label Display Move 1
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.move_2" ng-change="updateSettings()")
                    label
                label Display Move 2
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.move_energy" ng-change="updateSettings()")
                    label
                label Display Move Energy
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.move_dps" ng-change="updateSettings()")
                    label
                label Display Move DPS
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.level" ng-change="updateSettings()")
                    label
                label Display Level
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.cp" ng-change="updateSettings()")
                    label
                label Display CP
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.hp" ng-change="updateSettings()")
                    label
                label Display HP
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.atk" ng-change="updateSettings()")
                    label
                label Display ATK
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.def" ng-change="updateSettings()")
                    label
                label Display DEF
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.sta" ng-change="updateSettings()")
                    label
                label Display STA
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.piv" ng-change="updateSettings()")
                    label
                label Display IV%
            .checkbox-container
                .ui.toggle.checkbox
                    input(type="checkbox" name="public" ng-model="$root.player.settings.spreadsheet.display.pcp" ng-change="updateSettings()")
                    label
                label Display CP%
            button.ui.button(ng-click="closeSettingsModal()") Close